<div *ngIf="!uploaded" class="card">
    <div class="card-header bg-secondary text-center">
        <h2>Import Excel</h2>
    </div>
    <div class="card-body">
        <div class="row mb-3 form-group">
            <h3 class=" h3 font-weight-normal">Select Excel file to be uploaded</h3><br>
            <input type="file" class="form-control" placeholder="Upload File" name="file" id="file"
            accept=".csv,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel">
            <hr>
            &nbsp;&nbsp;<button type="submit" class="btn btn-sm btn-success" (click)="onFileUpload()">Submit</button>
        </div>
        <a href="../../../../assets/sample_stock_data.xlsx">Click here to download sample Excel file</a>
    </div>
</div>
<div *ngIf="uploaded" class="card">
    <div class="card-header text-center">
        Summary of Upload
    </div>
    <div class="card-body">
        <div class="row">
            <h5 class="font-weight-normal">Company Name: {{uploadSummary.companyName}}</h5>
        </div>
        <div class="row">
            <h5 class="font-weight-normal">Stock Exchange Name: {{uploadSummary.exchangeName}}</h5>
        </div>
        <div class="row">
            <h5 class="font-weight-normal">Number of Records inserted: {{uploadSummary.numberOfRecords}}</h5>
        </div>
        <div class="row">
            <h5 class="font-weight-normal">Period: {{uploadSummary.from}} to {{uploadSummary.to}}</h5>
        </div>
    </div>
</div>