<nav class="navbar navbar-expand-md navbar-dark bg-info mb-4">
    <div class="container">
        <a class="navbar-brand"><i class="fa fa-exchange"></i>&nbsp;Stock Market Charting</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMain">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarMain">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a routerLink="/userDashboard" class="nav-link">Initial Public Offering</a>
                </li>
                <li class="nav-item">
                    <a routerLink="/userDashboard/compareByCompany" class="nav-link">Compare Company</a>
                </li>
                <li class="nav-item">
                    <a routerLink="/userDashboard/compareBySector" class="nav-link">Compare Sectors</a>
                </li>
                <li class="nav-item">
                    <a href="/" class="nav-link">Other</a>
                </li>
            </ul>
        </div>
    </div>
</nav>